<div class="flex justify-center">
    <div class="flex justify-center w-2/3">
        <div class="flex flex-col grow border-2 border-gray-500 p-5 relative">
            <div>
                <p>Confirm</p>
            </div>
            <div>
                <p>{{ attractionName$ | ngrxPush }}</p>
            </div>
            <div>
                <p>Arrive by:</p>
                <p>{{ date$ | ngrxPush }} {{ arriveByTime$ | ngrxPush }}</p>
            </div>
            <div>
                <p>Riders:</p>
            </div>
            <div>
                <ul>
                    <li *ngFor="let ticket of ticketArray$ | ngrxPush">Ticket#{{ ticket?.ticket_number }}</li>
                </ul>
            </div>
            <div class="h-10">
                <div class="flex">
                    <button (click)="confirm()" class="w-16 h-6 bg-amber-500 rounded">Confirm</button>
                    <button (click)="cancel()" class="w-16 h-6 bg-amber-500 rounded ml-auto">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
