<div class="flex justify-center">
    <form (ngSubmit)="onSubmit(ticketNumber)" #ticketNumber="ngForm">
        <label for="ticket_nummer" class="block mb-2 text-sm font-medium">Ticketnummer</label>
        <input
            type="text"
            id="ticket_nummer"
            class="bg-gray-50 border mb-3 w-80 border-gray-300 text-sm rounded-lg block p-2.5"
            placeholder="Ticketnummer"
            name="ticket_number"
            required
            minlength="10"
            ngModel
        />
        <button
            type="submit"
            [disabled]="!ticketNumber.valid"
            class="text-white disabled:bg-gray-400 bg-[#213857] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >
            Weiter
        </button>
    </form>
</div>
