<h2>Choose Time Slot</h2>
<div class="flex justify-center mt-32">
    <div class="flex justify-center floatingbox">
        <div class="flex flex-col grow p-5 relative">
            <div>
                <h3>{{ attractionName$ | ngrxPush }}</h3>
            </div>
            <div class="mt-5">
                <button class="lg:w-1/5 w-full">Next Possible Slot</button>
            </div>
            <div class="mt-5">
                <div (click)="selectSlot(0)" class="timeslot open"><h4>08:00</h4></div>
                <div class="timeslot closed"><h4>08:30</h4></div>
            </div>
        </div>
    </div>
</div>
