<div class="w-96 h-20 border-2 border-b-0 border-gray-500 flex justify-center items-center text-center mt-5">
    <h4 class="font-bold">FIRST FLIEGER</h4>
</div>
<div class="w-96 h-20 border-2 border-b-0 border-gray-500 flex justify-center items-center text-center">
    <h4 class="font-bold">FIRST GLIDER</h4>
</div>
<div class="w-96 h-20 border-2 border-b-0 border-gray-500 flex justify-center items-center text-center">
    <h4 class="font-bold">FIRST MOUNTAIN CART</h4>
</div>
<div class="w-96 h-20 border-2 border-gray-500 bg-[#213857] flex justify-center items-center text-center">
    <h4 class="font-bold">TROTTIBIKE</h4>
</div>
