<p>ride-selection works!</p>

<div class="w-96 h-36 border-2 border-gray-500 flex justify-center items-center text-center mt-5">
    <div class="relative w-16 h-16 border-2 border-gray-500 rounded-full flex justify-center items-center text-center">
        +
    </div>
</div>
<div class="w-96 h-36 border-2 border-gray-500 flex justify-center items-center text-center mt-5">
    <div class="relative w-16 h-16 border-2 border-gray-500 rounded-full flex justify-center items-center text-center">
        +
    </div>
</div>
